:root{
    --cor1: #1B1515;
    --cor2: #EDBA57;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: var(--cor1);
}

.video-de-vendas{
    padding-top:29px;
    padding-bottom:59px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
}

.logo, .promessa, .video, .aviso, .botao-comprar{
    text-align: center;
}

.logo img{
    height: 65px;
    width: 73px;
    margin-bottom: 36px;
}

.promessa h1{
    margin: 0 21%;
    color: white;
    font-size: 28px;
    font-style: bold;
    text-align: center;
    margin-bottom: 33px;
}

.video iframe{
    width:56%;
    height:436px;
    margin-bottom: 40px;
}

.aviso p{
    color: white;
    font-size: 22px;
    font-style: bold;
    text-align: center;
    margin-bottom: 40px;
}

.botao-comprar button{
    width: 468px;
    height: 122px;
    padding: 26px 43px 30px 43px;
    background: #469C59;
    border-radius: 25px;
    cursor: pointer;
}

.botao-comprar button h2{
    font-size: 28px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Tudo que vai aprender*/
.sobre-o-curso{
    padding: 26px 0 58px 0;
    background-color: var(--cor2);
    text-align: center;
}

.sobre-o-curso div{
    margin-bottom: 37px;
}

.sobre-o-curso div h1{
    color: var(--cor1);
    font-style: bold;
    font-size: 28px;
}

.lista-do-curso{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 43px;
}

.item{
    width: calc(100%/3);
    height: auto;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.item img{
    width: 225px;
}

.item h2{
    width: 237px;
    margin-top: 12px;
    font-size: 16px;
    font-style: normal;
    text-align: center;
}

.certificado{
    padding: 26px 122px 58px 122px;
}

.como-pegar-certificado, .chamado{
    text-align: center;
}

.como-pegar-certificado h1{
    color: var(--cor2);
    font-size: 28px;
}

.como-pegar-certificado p{
    margin: 20px 0 34px 0;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.pessoas-certificadas{
    display: flex;
    max-width: 100%;
}

.pessoas-certificadas img{
    width: 323px;
    height: auto;
    margin-right: 67px;
}

.chamado p{
    margin: 36px 0 55px 0;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.bonus{
    padding-top: 26px;
    padding-bottom: 58px;
    text-align: center;
    color: var(--cor1);
    background-color: var(--cor2);
}

.bonus h1{
    color: var(--cor1);
    font-style: bold;
    font-size: 22px;
}

.lista-bonus{
    width: 100%;
    display: flex;
    margin-top: 61px;
    margin-bottom: 91px;
    text-align: center;
}

.item-bonus{
    padding-top:27px;
    padding-bottom: 27px;
    background-color: white;
    width: calc(100%/3);
    margin: 0 45px;
    border-radius: 5px;
}

.item-bonus img{
    width: 249.38px;
    height: 246.11px;
    margin-bottom: 25px;
}

.item-bonus h2{
    font-size: 22px;
    margin-bottom: 16px;
}

.item-bonus p{
    font-size: 16px;
    margin-bottom: 20px;
}

.valor-bonus{
    font-size: 22px;
}

.depoimentos{
    padding-top: 26px;
    padding-bottom: 59px;
}

.depoimentos h1{
    text-align: center;
    font-size: 28px;
    color: var(--cor2);
}

.lista-depoimentos{
    display: flex;
}

.depoimento-unico{
    width: 50%;
    text-align: center;
}

.depoimento-unico iframe{
    margin-top: 59px;
    margin-bottom: 80px;
    width:303px;
    height:543px;
}

.preco{
    padding-top: 26px;
    padding-bottom: 59px;
    background-color: var(--cor2);
    text-align: center;
}

.preco h1{
    color: var(--cor1);
    margin-left: 124px;
    margin-right: 124px;
    font-size: 28px;
    margin-bottom: 57px;
}

.valor-comum{
    color: var(--cor1);
    margin-bottom: 37px;
}

.valor-comum p{
    font-size: 28px;
}

.valor-comum h3{
    color: #F0D296;
    font-size:49px;
}

.valor-desconto{
    color: var(--cor1);
    margin-bottom: 57px;
}

.parcelas{
    font-size: 28px;
}

.valor{
    font-size: 119px;
}

.a-vista{
    font-size: 28px;
}

.perguntas{
    padding-top: 26px;
    padding-bottom: 59px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 21%;
}

.perguntas h1{
    color: var(--cor2);
    margin-bottom: 36px;
}

.pergunta{
    width: auto;
    height: auto;
    background-color: #C4C4C4;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    margin: 7px;
}

.faq-pergunta{
    font-size: 16px;
}

.resposta{
    display: none;    
    font-size: 14px;
}

.mostrar-resposta{
    display: block;
    height:fit-content;
}

@media screen and (max-width: 768px) {

    .video-de-vendas{
        padding-top:29px;
        padding-bottom:59px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 100%;
    }

    .logo, .promessa, .video, .aviso, .botao-comprar{
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .logo img{
        height: 65px;
        width: 73px;
        margin-bottom: 36px;
    }

    .promessa h1{
        margin: 0;
        color: white;
        font-size: 22px;
        font-style: bold;
        text-align: center;
        margin-bottom: 33px;
    }

    .video iframe{
        width:100%;
        min-height:237px;
        margin-bottom: 20px;
    }

    .aviso p{
        color: white;
        font-size: 16px;
        font-style: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    .botao-comprar button{
        width: 289px;
        height: 132px;
        padding: 26px 43px 30px 43px;
        background: #469C59;
        border-radius: 25px;
    }

    .botao-comprar button h2{
        font-size: 22px;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    /*Tudo que vai aprender*/
    .sobre-o-curso{
        padding-top:26px;
        padding-bottom: 26px;
        background-color: var(--cor2);
        text-align: center;
    }

    .sobre-o-curso div{
        margin-bottom: 37px;
    }

    .sobre-o-curso div h1{
        color: var(--cor1);
        font-style: bold;
        font-size: 22px;
        text-align: center;
    }

    .lista-do-curso{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .item{
        width: 100%;
        height: auto;
        margin-left: 0;
        text-align: center;
    }

    .item img{
        width: 225px;
    }

    .item h2{
        margin-top: 12px;
        font-size: 16px;
        font-style: normal;
        text-align: center;
    }
    
    .certificado{
        padding: 26px 0px 58px 0px;
    }

    .como-pegar-certificado, .chamado{
        text-align: center;
    }

    .como-pegar-certificado h1{
        color: var(--cor2);
        font-size: 22px;
    }

    .como-pegar-certificado p{
        margin: 20px 0 34px 0;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }

    .pessoas-certificadas{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        text-align: center;
    }

    .pessoas-certificadas img{
        width: 237px;
        height: auto;
        margin: 0 21px;
        margin-bottom: 41px;
    }

    .chamado p{
        margin: 0px 0 33px 0;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }

    .bonus{
        padding-top: 26px;
        padding-bottom: 58px;
        text-align: center;
        color: var(--cor1);
        background-color: var(--cor2);
    }

    .bonus h1{
        color: var(--cor1);
        font-style: bold;
        font-size: 22px;
    }

    .lista-bonus{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        margin-top: 0;
        margin-bottom: 91px;
    }

    .item-bonus{
        padding-top:27px;
        padding-bottom: 27px;
        background-color: white;
        width: calc(100%/1.618);
        margin: 0 calc(32%/1.618);
        margin-top:34px;
        border-radius: 5px;
    }

    .item-bonus img{
        width: 249.38px;
        height: 246.11px;
        margin-bottom: 25px;
    }

    .item-bonus h2{
        font-size: 22px;
        margin-bottom: 16px;
    }

    .item-bonus p{
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .valor-bonus{
        font-size: 22px;
    }

    .depoimentos{
        padding-top: 26px;
        padding-bottom: 59px;
    }

    .depoimentos h1{
        text-align: center;
        font-size: 22px;
        color: var(--cor2);
    }

    .lista-depoimentos{
        display: flex;
        flex-direction: column;
    }

    .depoimento-unico{
        width: 100%;
        height: auto;
        text-align: center;
        margin: 0;
    }
    
    .depoimento-unico iframe{
        margin-top: 36px;
        margin-bottom: 59px;
        width:303px;
        height:543px;
    }

    .preco{
        padding-top: 26px;
        padding-bottom: 36px;
        background-color: var(--cor2);
        text-align: center;
    }

    .preco h1{
        color: var(--cor1);
        margin-left: 0;
        margin-right: 0;
        font-size: 22px;
        margin-bottom: 35px;
    }

    .valor-comum{
        color: var(--cor1);
        margin-bottom: 22px;
    }

    .valor-comum p{
        font-size: 22px;
    }

    .valor-comum h3{
        color: #F0D296;
        font-size:30px;
    }

    .valor-desconto{
        color: var(--cor1);
        margin-bottom: 57px;
    }

    .parcelas{
        font-size: 22px;
    }

    .valor{
        font-size: 73px;
    }
    
    .a-vista{
        font-size: 22px;
    }

    .perguntas{
        padding-top: 26px;
        padding-bottom: 59px;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}